<h1>Managers (MongoDB)</h1>
<!-- link to add another manager -->
<a href="/managers/addManager">Add Manager (MongoDB)</a><br>
<table border="1">
    <tr>
        <th>Manager ID</th>
        <th>Name</th>
        <th>Salary</th>
    </tr>
    <!--put the data in the table -->
     <% managers.forEach((mgr) =>{ %>
<tr>
    <td><%= mgr._id %></td>
    <td><%= mgr.name %></td>
    <td><%= mgr.salary %></td>
</tr>
<% }) %>
</table>
<a href="/">Home</a>