<h1>Stores</h1>
<!-- link to add another store -->
<a href="/stores/addStore">Add Store</a><br>
<table border="1">
    <tr>
        <!-- column headers -->
        <th>SID</th>
        <th>Location</th>
        <th>Manager ID</th>
        <th>Action</th>
    </tr>
    <!--stores comes from index.js -->
     <% stores.forEach((st) =>{ %>
<tr>
    <!-- print out each row of information -->
    <td><%= st.sid %></td>
    <td><%= st.location %></td>
    <td><%= st.mgrid %></td>
    <!-- pass in the sid for editing -->
    <td><a href="/stores/editStore/<%= st.sid %>">update</a></td>
</tr>
<% }) %>
</table>
<a href="/">Home</a>