<h1>Stores</h1>

<a href="/stores/addStore">Add Store</a><br>
<table border="1">
    <tr>
        <th>SID</th>
        <th>Location</th>
        <th>Manager ID</th>
        <th>Action</th>
    </tr>
    <!--employees comes from other page -->
     <% stores.forEach((st) =>{ %>
<tr>
    <td><%= st.sid %></td>
    <td><%= st.location %></td>
    <td><%= st.mgrid %></td>
    <td><a href="/stores/editStore/<%= st.sid %>">update</a></td>
</tr>
<% }) %>
</table>
<a href="/">Home</a>